.all-restaurants-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}

#card {
  width: 25em;
  margin: 1em;
  height: 35em;
  box-shadow: 50px;
}

.restaurant-img {
  width: 100%;
  height: 15em;
  object-fit: fill;
}

.card-body {
  color: #000000;
  margin: 0 auto;
}

.links-icons {
  width: 40px;
}

.details-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-name-container {
  margin: .5em 1.5em;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
