@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap');

.all-restaurants-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}

.face {
  margin: 0 auto;
}

#card {
  width: 25em;
  margin: 1em;
  min-height: 39em;
  max-height: 68em;
  box-shadow: 50px;
}

.restaurant-img {
  width: 100%;
  height: 15em;
  object-fit: fill;
}

#restaurant-name {
  font-family: 'Stint Ultra Condensed', cursive;
  font-size: 40px;
}

.card-body {
  color: #000000;
  margin: 0 auto;
  padding: 1em;
  background-color: #E7DAE7;
}

.links-icons {
  width: 40px;
}

.card-btn-icons {
  width: 30px;
}

.details-container, .card-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-name-container {
  margin: .5em 1.5em;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.card-btn {
  margin: 0;
  padding: 10px;
}

.edit-form {
  width: 30em;
}

#smiley {
  color: white;
}

.heart, .visitedIcon {
  width: 30px;
  margin: 0 .3em;
}

.whiteHeart {
  width: 20px;
  margin: 0 .3em;
}

.favorite-section {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
