@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap');

.all-restaurants-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}
