@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap');

.all-restaurants-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}

#search {
  width: 16em;
}

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}

.form-control:focus {
  box-shadow: none;
  border: solid 4px #632b6c;
}
