@import url('https://fonts.googleapis.com/css2?family=Dawning+of+a+New+Day&display=swap');

.home-container {
  text-align: center;

  h4 {
    margin: 1em 0;
    // text-align: left;
    line-height: 1.25;
  }

}

.brand, .title {
  font-family: 'Dawning of a New Day', cursive;
  border-radius: 3px;
  outline:none;
  text-shadow: white 0px 0px 10px;
}

.title {
  font-size: 64px;
}
