@import url('https://fonts.googleapis.com/css2?family=Dawning+of+a+New+Day&display=swap');

.home-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .sparkles {
    width: 80px;
    margin: 0 .5em;
    height: 60px;
  }

  .nashville-home-views {
    width: 85%;
    height: auto;
  }
  
  h4 {
    margin: 1em 0;
    text-align: left;
    line-height: 1.25;
  }
}

.brand, .title {
  font-family: 'Dawning of a New Day', cursive;
  border-radius: 3px;
  outline:none;
  text-shadow: white 0px 0px 10px;
}

.title {
  font-size: 64px;
}

@media (max-width: 1000px) {
  .home-container {
    margin-bottom: 2em;
  }
}

@media (max-width: 767px) {
  .home-container {
    margin-bottom: 5em;
    
    .sparkles {
      width: 50px;
      height: 50px;
    }
    .title {
      font-size: 35px;
    }

    h3, h4 {
      font-size: 1.3rem;
    }
  }
}

@media (max-width: 400px) {
  .home-container {
    margin-bottom: 2em;

    .sparkles {
      height: 40px;
    }
    
    .title {
      font-size: 30px;
    }

    h3, h4 {
      font-size: 1.2rem;
    }
  }
}
