@import url('https://fonts.googleapis.com/css2?family=Dawning+of+a+New+Day&display=swap');

.home-container {
  text-align: center;
}

.brand, .title {
  font-family: 'Dawning of a New Day', cursive;
  border-radius: 3px;
  outline:none;
  text-shadow: white 0px 0px 10px;
}

.title {
  font-size: 64px;
}
