@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'AddRestaurant';
@import 'AllRestaurants';
@import 'Favorites';
@import 'Home';
@import 'LetsEat';
@import 'RestaurantCard';
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');

body { 
  background: url(../assets/stars.png) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #ffffff;
  font-family: 'Inconsolata', monospace;
}

#navbar {
  background-color: #632b6c;
}

.sparkles-nav {
  width: 25px;
  margin: 0 .2em;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nashville-views {
  width: 200px;
  max-width: 250px;
  height: auto;
}

@media (max-width: 315px) {
  .nashville-views {
    width: 150px;
  }
}
