@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'AddRestaurant';
@import 'AllRestaurants';
@import 'Favorites';
@import 'Home';
@import 'LetsEat';
@import 'RestaurantCard';
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');

body { 
  background: url(../assets/nashvilleNightOutBG.png) no-repeat bottom fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #ffffff;
  font-family: 'Inconsolata', monospace;
}

#navbar {
  background-color: #632b6c;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
