.face {
  margin: 0 auto;
}

#card {
  width: 25em;
  margin: 1em;
  min-height: 36em;
  max-height: 68em;
  background-color: none;
  border-radius: 8px;
  box-shadow: 0 0 8px #fff;
}

.restaurant-img {
  width: 100%;
  height: 15em;
  object-fit: fill;
  border-radius: 7px 7px 0 0;
  box-shadow: 0 0 4px #fff;
}

#restaurant-name {
  font-family: 'Stint Ultra Condensed', cursive;
  font-size: 40px;
}

.card-body {
  color: #000000;
  margin: 0 auto;
  padding: 1em;
  background-color: #E7DAE7;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 0 8px #fff;
}

.links-icons {
  width: 40px;
}

.card-btn-icons {
  width: 30px;
}

.shuffle {
  width: 70px;
}

.details-container, .card-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-name-container {
  margin: .5em 1.5em;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.card-btn {
  margin: 0;
  padding: 10px;
}

.edit-form {
  width: 30em;
}

#smiley {
  color: #fff;
}

.heart, .visitedIcon {
  width: 30px;
  margin: 0 .3em;
}

.whiteHeart {
  width: 20px;
  margin: 0 .3em;
}

.favorite-visited-section {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
